@{
    ViewData["Title"] = "Welcome";

    var src = DateTime.Now;
    var data = src.Hour;

    string greeting = "Bem-vindo";

    if (data > 20)
    {
        greeting = "Boa Noite";
    }
    else if (data > 12)
    {
        greeting = "Boa Tarde";
    }
    else
    {
        greeting = "Bom Dia";
    }
}
<h1>@greeting,</h1>


<u><a class="nav-link text-dark" asp-area="" asp-controller="Funcionario" asp-action="Index">Aceder à Área de Funcionário</a>.</u>
