@{
    ViewData["Title"] = "Welcome";

    var src = DateTime.Now;
    var data = src.Hour;

    string greeting = "Bem-vindo";

    if (data > 20)
    {
        greeting = "Boa Noite";
    }
    else if (data > 12)
    {
        greeting = "Boa Tarde";
    }
    else
    {
        greeting = "Bom Dia";
    }
}
<h1>@greeting,</h1>

<div style="margin-left: 0; margin-right: 0 " height="900">
    <video id="videoplayer"  autoplay loop muted>
        <source src="@Url.Content("~/video/video.mp4")" type="video/mp4" />
    </video>
</div>



<u><a class="nav-link text-dark" asp-area="" asp-controller="DashboardPaineis" asp-action="Index">Aceder à Área de Funcionário</a></u>
