@model MvcSolar.Models.ProducaoEnergetica

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>ProducaoEnergetica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producao" class="control-label"></label>
                <input asp-for="Producao" class="form-control" />
                <span asp-validation-for="Producao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PainelID" class="control-label"></label>
                <select asp-for="PainelID" class ="form-control" asp-items="ViewBag.PainelID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
